@{
    ViewBag.Title = "HomeSchool";
}

<div style="text-align: center;   
        color: white;
        height: 500px;
">
    <div style="padding-top: 55px;">
        <h1 style="color: white; font-size: 70px;">Panel systemowy szkoły HomeSchool</h1>
        <hr />
        <p style="color: white; font-size: 40px;">Aplikacja do zarządzania szkoły HomeSchool.</p>
    </div>
</div>